html {
  height: 100%;
  font-size: 10px;
  background: hsla(46, 93%, 89%, 1);
  background: linear-gradient(
    90deg,
    hsla(46, 93%, 89%, 1) 0%,
    hsla(342, 83%, 38%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(46, 93%, 89%, 1) 0%,
    hsla(342, 83%, 38%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(46, 93%, 89%, 1) 0%,
    hsla(342, 83%, 38%, 1) 100%
  );
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.key {
  border-radius: 15px;
  transition: all 0.09s ease;
  text-align: center;
  color: black;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  background: rgb(252, 245, 223) 0%;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
}
body > div > div:nth-child(9) {
  flex: 2;
}
.playing {
  transform: scale(1.1);
  border-color: #8f0000;
  box-shadow: 0 0 1rem #8f0000;
}
kbd {
  display: block;
}
.sound {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #8f0000;
}
.hidden {
  display: none !important;
}

@media screen and (min-width: 350px) {
  .grid {
    min-height: 100vh;
  }
}
@media screen and (min-width: 810px) {
  body > div > div:nth-child(9) {
    flex: 1;
  }
  .key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .w {
    grid-column: 2;
    grid-row: 1;
  }
  .a {
    grid-column: 1;
    grid-row: 2;
  }
  .s {
    grid-column: 2;
    grid-row: 2;
  }
  .d {
    grid-column: 3;
    grid-row: 2;
  }
  .spacer {
    grid-column: 4;
    grid-row: 1;
  }
  .i {
    grid-column: 6;
    grid-row: 1;
  }
  .j {
    grid-column: 5;
    grid-row: 2;
  }
  .k {
    grid-column: 6;
    grid-row: 2;
  }
  .l {
    grid-column: 7;
    grid-row: 2;
  }
  .spacebar {
    grid-column: 1 /-1;
    grid-row: 3;
  }
}
